.cart__controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  height: 35px;
  border: 2px solid gray;
  border-radius: 10px;
}
.cart__zero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 45px;
  border: 2px solid gray;
  border-radius: 10px;
  cursor: pointer;
}
.left__cart__button {
  border-radius: 10px 0px 0px 10px;
}
.right__cart__button {
  border-radius: 0px 10px 10px 0px;
}
.cart__button {
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--choose-headerbackground);
  color: var(--choose-colorlink);
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
}
.cart__counter {
  font-size: 1.8rem;
  margin: 0px;
  background-color: gray;
  color: var(--choose-colorlink);
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-controller-img-wrapper {
  width: 30px;
  height: 30px;
  position: relative;
}
